body {
    font: 1.125rem/1.5, Helvetica, sans-serif;
  }
  
  .container {
    display: flow-root;
    width: 37.5em;
    border: 1px solid #d2d2d2;
  }
  
  img {
    float: left;
    cursor: pointer;
    /* padding-right: 1.5em; */
    width: 20em;
    height: 20em;
  }
  
  output {
    background: rgba(100, 100, 100, 0.1);
    font-family: Courier, monospace;
    width: 95%;
  }

  .margin{
    margin-bottom: 3em;
    padding-bottom: 3em;
    position: relative;

  }


  input[pattern]:invalid{
    color:red;
  }

  .card{
    margin : 2em;
    width: 50%;
  }

  /* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F3F8F2;
  overflow-x: hidden;
  padding-top: 20px;
}

 .logo{
   height :3em;
   width:160px;
   margin-left :1em;
 }
 .panier{
  height :2em;
  width:2em;
 }