body {
    font: 1.125em/1.5, Helvetica, sans-serif;
  }
.card-title{
  font-size:1.2em !important;
  font-weight: 500!important;
}
  .container {
    display: flow-root;
    width: 37.5em;
    border: 1px solid #d2d2d2;
  }
  
  img {
    float: left;
    cursor: pointer;
    /* padding-right: 1.5em; */
    width: 20em;
    height: 20em;
  }
  
  output {
    background: rgba(100, 100, 100, 0.1);
    font-family: Courier, monospace;
    width: 95%;
  }

  .margin{
    margin-bottom: 3em;
    padding-bottom: 3em;
    position: relative;

  }


  input[pattern]:invalid{
    color:red;
  }

  .card{
    margin: 1em;
    width: 20em !important;
    flex-wrap: wrap !important;
  }
  .card-small{
    max-height: 31em !important;
  }/*class pour réduire la hauteur de la carte quand elle est seule dans le panier, si deux cartes ou plus pas de soucis mais avec une seule l'espce cardbody est trop grand*/
.container-sm{
  flex-wrap: wrap !important;

}
  /* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F3F8F2;
  overflow-x: hidden;
  padding-top: 20px;
}

 .logo{
   height :3em;
   width:160px;
   margin-left :1em;
 }
 .logoPanier{
  height :2em;
  width:2em;
 }

 .card-extend{
   width:40em !important
 }

 .annuler{
  position: absolute;
  color:#0d6efd;
  right: 10px;
  top:5px;
 }

 .position{
   position:absolute
 }

 /* loading spinner */
@keyframes disparait {
  0% {
    opacity: 1;
    z-index: 1;
  }
  99% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.loading-spinner{
  animation: 3s  disparait forwards;
  background-color:  white;
  width: 100%;
  height:100%;
  position: fixed;
  z-index: 1;
  
}
/* spinner-border pour forcer modif css bootstrap pour le spinner */
.spinner-border{
  height : 5em !important;
  width: 5em !important;
  font-size:xx-large;
}
/* Fin - loading spinner */